{% extends 'base.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Add Federation</div>
        <div class="panel-body">
            {% block form %}
                {% include('AppBundle:admin/config/federation:form.html.twig') %}
            {% endblock%}
        </div> 
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
